.Tab::-webkit-scrollbar {
  display: none;
}

.Tab {
  text-align: left;
  font-family: monospace;
  overflow-y: scroll;
}

.noTab {
  text-align: left;
  font-family: monospace;
  padding-left: 10px;
}
@import "./tailwind.css";

.chords {
  color: #2980b9;
  font-weight: bold;
}
.section {
  margin-bottom: 40px;
}
